<br/>
<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#sms_help">SMS</a>
		</div>
		<div class="panel-body collapse" id="sms_help">
		<p><b>Список команд для работы с часами.</b></br>
Сброс всех настроек на заводские pw,523681,factory#</br>
Проверка всех параметров pw,523681,ts#</br>
Перезагрузка pw,523681,reset#</br>
Задаём основной номер телефона: pw,523681,center,номер телефона# формат номера для России +70123456789</br>
Устанавливаем APN своего оператора сотовой связи, командой pw,523681,apn,имя apn,логин,пароль#, например для yota</br>
pw,123456,apn,internet.yota#</br>
Задаём дополнительный номер телефона: pw,523681,slave,номер телефона# - не обязательно</br>
Удалить основной номер: pw,523681,center,d#</br>
Удалить дополнительный номер: pw,523681,slave,d#</br>
Задаём номера SOS : pw,123456,sos1,номер телефона# pw,523681,sos2,номер телефона# pw,523681,sos3,номер телефона#</br>
Удалить номера SOS pw,523681,sos1# pw,523681,sos2# pw,523681,sos3#</br>
Задаём номера набора кнопками 1 и 2: pw,523681,tel1,номер телефона# pw,523681,tel2,номер телефона#</br>
Удалить номера с кнопок 1 и 2 pw,523681,tel1# pw,523681,tel2</br>
Установка интервалов передачи данных на сервер pw,523681,upload,300# где 300 время в секундах между передачами данных на сервер</br>
Получение координат GPS: pw,523681,url#</br>
Устанавливаем сервер SeTracker для работы с часами: pw,123456,ip,agpse.3g-elec.com,8001#</p>
		</div>
	</div>
	
</div>